body, html {
    max-height: 100vh; /* Setter maksimal høyde til skjermstørrelsen */
    overflow-y: hidden; /* Forhindrer vertikal scrolling */
}

.kpi-cards{
    background: #f9fbfa;
    border-color: #f9fbfa;
    border-left-color: #f9fbfa;

}

.kpi-cards-title{
    color: #6be0c5
}
.kpi-cards-icon{
    font-size: 32px; 
    color: #1f9478;
}

.kpi-cards-value{
    color: #1f9478;
    font-size: 18px; 
}

.main-card{
    background: #f9fbfa; 
    border-color: #f9fbfa;
}

.tui-full-calendar-layout.tui-view-1.tui-view-9{
    height: 60vh !important;
}

.tui-full-calendar-month-week-item{
    height: 7vh auto !important;
}
.main-card-title{
    border-color: #2cd3ac; color:#1f9478
}

.main-card-header{
    background: #f9fbfa;
    border-color: #6be0c5;
    color: #6be0c5;
}
.main-card-body{
    height: 397px;
}
.table-header{
    background-color: #2cd3ac; 
    color: #ffffff;
}
.table-body{
    background-color:  color= #ffffff
}

.save-button{
    background-color:#0CA47C;
    color:#ffffff;
    
}

table .expiring-row {
        color: white !important; 
    }

.button-spaces{
    padding-top: 3vh;
    
}


/* Gjør at innholdet tilpasser seg skjermhøyden og forhindrer vertikal scrolling */
.equal-height {
    min-height: 80vh; /* Juster høyden etter behov */


}

